body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

#menu ul li {
    background-color: white;
}

#menu ul li a {
    color: #50516d;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}

#menu ul li a:hover {
    background: #ccc;
    border-left: 10px solid #333;
    color: #fff;
}

.right-side,
.left-side {
  min-height: 100%;
  display: block;

}

.left-side{
  /*position: absolute;*/
  width: 220px;
  /*
  display: block;
  background: #333;
  height: auto;
  border-radius: 0 0 15px 0;
  */
  float: left;
}

.right-side {
    background-color: #f9f9f9;
    margin-left: 220px;
    min-height:;
    display: block;
}

.form-controlInsertar {
    display: block;
    width: 25%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-contentCat {
    position: relative;
    margin: 8% 0px 0px 30%;
    width: 62%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.box {
    position: relative;
    background: #f9f9f9;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 5px;
    margin-top: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box-solid {
    border-top: 0px;
}

.box-success {
    border-top-color: #00a65a;
}





