    <div class="credits text-center">
        <p>
            <a href="https://www.spanishstudies.org/">Spanish Studies Abroad</a>
        </p>
        <p>
            <a href="http://www.centronorteamericano.es/">Centro Norteamericano</a>
        </p>
    </div>
</body>
</html>