 

  <!-- VENTANA Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
         <div class="container">
			  <h2>Editar profesor</h2>
			    
			    <div class="flash-message" ng-if="flash">
			            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
			    </div>

					  <form class="form-horizontal">
					    <div class="form-group">
					      <label class="control-label col-sm-2" for="email">Nombre:</label>
					      <div class="col-sm-10">
					        <input type="text" class="form-controlInsertar" name="nombre" ng-model="vm.profesorMod.nombre">
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="pwd">Apellidos:</label>
					      <div class="col-sm-10">          
					        <input type="text" class="form-controlInsertar" name="Apellidos" ng-model="vm.profesorMod.apellidos">
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="pwd">Direccion:</label>
					      <div class="col-sm-10">          
					        <input type="text" class="form-controlInsertar"  name="Direccion" ng-model="vm.profesorMod.direccion">
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="control-label col-sm-2" for="pwd">Telefono:</label>
					      <div class="col-sm-10">          
					        <input type="number" class="form-controlInsertar" name="Telefono" ng-model="vm.profesorMod.telefono">
					      </div>
					    </div>

				    <div class="form-group">        
				      <div class="col-sm-offset-2 col-sm-10">
				        <button type="submit" class="btn btn-default" ng-click="vm.editarProfesor($index)" onclick="recargaTime()">Modificar</button>
				      </div>
				    </div>
			  		</form>
				</div>
			        </div>
			        
			   </div>
			      
		</div>
  </div>
  
  <!--FIN VENTANA MODAL-->


<br>
<h1>Profesores <a ui-sref="addProfesor"><button type="button" class="btn btn-success" >Añadir profesor</button></a></h1>

<br>
<div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
    </div>
<div class="table-responsive">
 <table class="table table-striped">
 	<thead>
 	<tr>
 		<th>Nombre</th>
 		<th>Apellidos</th>
 		<th>Direccion</th>
 		<th>Telefono</th>
 		<th>Acciones</th>
 	<tr>	
 	</thead>
 	<tbody>
 		 <tr class="tr" ng-repeat=" p in vm.profesores">
 		 	<td>{{p.nombre}}</td>
 		 	<td>{{p.apellidos}}</td>
 		 	<td>{{p.direccion}}</td>
 		 	<td>{{p.telefono}}</td>
 		 	<td>
 		 		<a href="" data-toggle="modal" ng-click="vm.getIndex($index)" data-target="#myModal"><button type="button" class="btn btn-warning">Editar</button></a>
 		 		<button type="button" class="btn btn-danger" ng-click="vm.borrarProfesor($index)" onclick="recargaTime()">Eliminar</button>
 		 	</td>
 		 </tr>
 	</tbody>
</table>
</div>


<script>

function recargaTime() {
	setTimeout(function(){
   		window.location.reload(1);
	}, 300);
}

</script>
